footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.main-info {
    font-size: 24px ;
    background-color: darkgray ;
    font-family: Arial ;
    text-indent: 3ch;
}
.main-menu{
    font-size: 14px ;
    font-family: Arial ;
    text-align: center;
}
.photo-index{
    text-align: center;
}